.logo-splash {
  background: $humanforce-yellow;
  align-items: center;

  @include breakpoint(small only) {
    height: 33%;
    padding: rem-calc(20);
  }

  &::before {
    @include breakpoint(medium) {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      width: 100%;
      height: 4px;
      background-color: $humanforce-blue;
    }
  }

  .logo {
    width: 100%;
    max-width: rem-calc(591);
  }

  .logo-splash-image-frame {
    left: 0;
    bottom: 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 80px;
      width: 100%;
      height: 4px;
      background-color: $humanforce-blue;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 326px;
      bottom: 0x;
      width: 4px;
      height: 100%;
      background-color: $humanforce-blue;
    }
  }
}