@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.validation-message {
  animation: fadeIn 1s ease-out forwards;
}

.alert {
  background-color: $humanforce-orange-20;
  border-radius: $field-border-radius;

  ul {
    li {
      color: black;
    }
  }
}