// Color variables
$humanforce-yellow: rgb(255, 213, 64);
$humanforce-blue: rgb(60, 71, 157);
$humanforce-orange: rgb(241, 90, 41);
$humanforce-orange-20: rgb(252, 222, 212);
$humanforce-purple: rgb(159, 127, 235);
$humanforce-green: rgb(80, 184, 72);

// Dimensional variable
$field-border-radius: 6px;
$button-border-radius: 9999px;
$button-border-width: 3px;