<div class="grid-container full">
  <div class="grid-x">

    <!-- Yellow div -->
    <div class="cell small-12 medium-6 logo-splash">
      <!-- SVG logo goes here -->
      <img src="../assets/images/humanforce-logo.svg" alt="Logo">
      <div class="logo-splash-image-frame">
        <img src="" alt="">
      </div>
    </div>

    <!-- Purple div -->
    <div class="cell small-12 medium-6 login-section">
      <div class="login-section-inner">
        <h1>Login</h1>
      <form #loginForm="ngForm">
        <label>Email
          <input type="email" name="email" ngModel required placeholder="Email">
        </label>
        <label>Password
          <input type="password" name="password" ngModel required placeholder="Password">
        </label>
        <div class="button-group">
          <button type="submit" [disabled]="!loginForm.valid" class="button">Login</button>
          <a href="#" class="forgot-password" class="button clear">Forgot your password?</a>
        </div>
      </form>
      </div>
    </div>

  </div>
</div>
